<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% capture pagetitle %}
    {%- if page.share-title -%}
      {{ page.share-title | strip_html | xml_escape }}
    {%- elsif page.title -%}
      {{ page.title | strip_html | xml_escape  }}
    {%- else -%}
      {{ site.title | strip_html | xml_escape }}
    {%- endif -%}
  {% endcapture %}

  {% assign pagetitle = pagetitle | strip %}

  {% capture title %}
    {%- if pagetitle != "" and site.title and site.title-on-all-pages and (site.title != pagetitle) -%}
      {{ pagetitle }} | {{ site.title }}
    {%- else -%}
      {%- if pagetitle != "" -%}
        {{ pagetitle }}
      {%- else -%}
        {{ site.title }}
      {%- endif -%}
    {%- endif -%}
  {% endcapture %}

  {% capture description %}
    {%- if page.share-description -%}
      {{ page.share-description | strip_html | xml_escape }}
    {%- elsif page.subtitle -%}
      {{ page.subtitle | strip_html | xml_escape }}
    {%- else -%}
      {%- assign excerpt_length = site.excerpt_length | default: 50 -%}
      {{ page.content | strip_html | xml_escape | truncatewords: excerpt_length | strip }}
    {%- endif -%}
  {% endcapture %}

  <title>{{ title }}</title>

  {% capture author %}
    {%- if page.author -%}
      {{  page.author | strip_html }}
    {%- elsif site.author -%}
      {{ site.author }}
    {%- endif -%}
  {% endcapture %}
  {% if author != "" %}
  <meta name="author" content="{{ author }}">
  {% endif %}

  <meta name="description" content="{{ description }}">

  {% if site.mobile-theme-col %}
  <meta name="theme-color" content="{{ site.mobile-theme-col }}">
  {% endif %}

  {% if site.keywords %}
  <meta name="keywords" content="{{ site.keywords }}">
  {% endif %}

  {% if site.rss-description %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">
  {% endif %}

  {% include gtag.html %}
  {% include gtm_head.html %}
  {% include google_analytics.html %}
  {% include cloudflare_analytics.html %}
  {% include mathjax.html %}

